# Ignore everything
*

# Track source
!src/
!src/**

# Track tests
!test/
!test/**

# Track package
!package.json
!package-lock.json
!.npmignore
!.gitignore
!.env.example

# Track CI
!.github/
!.github/**

# Track docs
!README.md
!README.*.md
!LICENSE
